.buscador {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px;
    background-color: rgb(50, 50, 50);
    border-radius: 50px;
    width: 90%;
    max-width: 600px;
    height: 30px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    margin: 0 auto;
  }
  
  .buscador input {
    flex: 1;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    background-color: transparent;
    color: white;
    font-size: 14px;
    outline: none;
  }
  
  .buscador button {
    padding: 5px 10px;
    border: none;
    border-radius: 50px;
    background-color: #E50914;
    color: white;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .buscador button:hover {
    background-color: #B00610;
  }
  