.home {
    text-align: center;
    padding: 20px;
    padding-top: 80px; /* ajustá esto según el alto de tu header */
  }
  
  .home h1 {
    color: #333;
  }
  
  .home p {
    font-size: 1.2em;
    color: #666;
  }