html, body {
  margin: 0;
  padding: 0;
}

.home {
  display: flex;
  flex-direction: column; /*es para que el contenido se alinee verticalmente*/
  min-height: 100vh;  /*para que ocupe toda la pantalla*/
  padding-top: 70px;      
  align-items: center;    
  gap: 2rem;              /*para que haya espacio entre los elementos*/
}
  
  .home h1 {
    color: #ffffff;
  }
  
  .home p {
    font-size: 1.2em;
    color: #ffffff;
  }