.header {
  background-color: #222;
  color: white;
  padding: 0.5px 1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;        
  top: 0;                 /* arribita */
  left: 0;                
  right: 0;               
  width: 99%;            /* OCUPA TODO EL ANCHO (96 porque 100 no me gusto) */
  z-index: 1000;          /* ENCIMA DE TODO (por las dudas)*/
  box-shadow: 0 2px 4px rgba(0,0,0,0.4); /*una sombrita*/
}

.left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.right {
  display: flex;
  align-items: center;
  gap: 10px;
}


  
