.footer {
  background-color: #0F0F0F ;
  color: white;
  text-align: center;
  padding: 15px;
  font-size: 14px;
  box-shadow: 0 -2px 4px rgba(0,0,0,0.2);
  margin-top: 40px;
  position: relative;
  left: 10%;
  transform: translateX(-10%);
  width: 100vw;
}
